.infoContent {
  height: 50px;
  font-size: 85%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.authorName {
  margin-right: 10px;
  text-decoration: none;
  color:black;
}

.authorName:hover{
    text-decoration:underline;
}

.articleDetailContainer{
    color:grey;
}
