.authorName {
  margin-right: 10px;
  text-decoration: none;
  color:black;
}

.authorName:hover{
    text-decoration:underline;
}

.articleDetailContainer{
    color:grey;
}

.articleInfoContent{
  margin-top: 10px;
}
