.comment {
  color: grey;
  font-size: 90%;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.topImg {
  width: 100%;
  position: relative;
  left: -10%;
}

.articleImgContainer {
  margin: 20px auto;
  width: 120%;
}
