.articlePreviewMainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.previewContainer {
  flex-basis: 30%;
  box-sizing: border-box;
  margin:20px 0;
}
.previewAnchorStyle {
  text-decoration: none;
  color:black;
}

.articlePreviewImg{
  width: 300px;
}


@media screen and (max-width: 1074px){
    .articlePreviewImg{
      width: 400px;
    }
}

@media screen and (max-width: 722px){
    .previewContainer {
        flex-basis: 100%;
      }
      .articlePreviewImg{
        width: 500px;
      }
}