.authorName {
  margin-right: 10px;
  text-decoration: none;
  color: darkviolet;
}

.authorName:hover{
    text-decoration:none;
}

.articleDetailContainer{
    color:grey;
}

.articleInfoContainer{
  margin-top: 10px;
  font-size: 80%;
}

