.App {
  width: 85%;
  margin: 0 auto;
}

.mLogo{
  color:green;
  text-decoration: none;
  font-weight:bold;
  font-size: 2em;
}

@media screen and (max-width: 900px) {
  .App {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .App {
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
  .App {
    width: 90%;
  }
}
